.topContainer {

  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}



h1 {
  text-align: center;
  font-family: "Sacramento", sans-serif;
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: -20px;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

h3 {
  color: #11999E;

}

a{
  color: #11999E;
}

hr {
  size: 1px;
  width: 10%;
  border: 10px;
  border-top-style: dotted;
  border-color: #EAF6F6;
  padding-top: 50px;
  padding-bottom: 50px;


}


img {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Montserrat", helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0;
}

#profile {
  margin-top: 50px;
  border-radius: 100px;
  width: 200px;
}

.profile-info {
  width: 50%;
  margin: 10px auto 50px auto;
  line-height: 2;
  padding-bottom: 50px;
}

.pics {

  width: 25%;
  float: left;
  margin-right: 50px;
}

.scuba {

  width: 25%;
  float: right;
  margin-left: 30px;
}

.scuba-description {
  padding-bottom: 50px;
}

.contact-p {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.contact-me {

}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-container {
  margin: 100px 0 0 0;
  padding: 50px 50px 20px;
  background-color: #66BFBF;
}

.footer-link {
  text-decoration: none;
  margin-right: 50px;
  margin-top: 100px;
}

footer {
  background-color: #66BFBF;
  margin: 0;
  padding: 0;
}


.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}


.copyright {
  color: #EAF6F6;
  padding-top: 50px;
  margin: 0;
}
